* { 
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body { 
  font-family: 'Segoe UI', sans-serif; 
  color: #333; 
  background: #f9f9f9;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #0a3d62, #2e86de);
  padding: 15px 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.navbar .logo img {
   height: 5rem;
   width: 5rem;
   border-radius: 40%;
}

.nav-links { 
  list-style: none; 
  display: flex;
  gap: 20px; 
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s;
}

.nav-links li a:hover { 
  color: #feca57; 
  transform: scale(1.1); 
}

/* Hero */
.hero {
  height: 80vh;
  background: url('1.jpg') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  text-align: center;
  background: rgba(0,0,0,0.6);
  padding: 40px;
  border-radius: 15px;
  color: #fff;
  animation: fadeUp 2s;
}

.hero h1 { 
  font-size: 3rem;
  margin-bottom: 10px; 
}

.hero p { 
  font-size: 1.2rem; 
  margin-bottom: 20px; 
}

.btn {
  background: #feca57;
  color: #0a3d62;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #fff; 
  color: #2e86de;
}

/* Services */
.services { 
  text-align: center; 
  padding: 60px 20px; 
}

.services h2 { 
  font-size: 2.2rem; 
  margin-bottom: 30px; 
}

.card-container {
  display: flex; 
  justify-content: 
  center; gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  width: 280px;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img { 
  width: 80px; 
  margin-bottom: 15px; 
}

.card h3 { 
  margin-bottom: 10px; 
  color: #0a3d62; 
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* Slider */
.slider-section { 
  text-align: center;
   padding: 60px 20px; 
}

.slider {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  border-radius: 15px;
}

.slide { 
  display: none; 
  width: 100%; 
  border-radius: 15px; 
}

.slide.active { 
  display: block; 
  animation: fade 1.5s; 
}

@keyframes fadeUp {
   from { 
    opacity: 0; 
    transform: translateY(30px);
  } 
  to { 
    opacity: 1;
    transform: translateY(0);
    } 
  }
@keyframes fade { 
  from { 
    opacity: 0.4; 
  } 
  to { 
    opacity: 1; 
  } 
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #0a3d62;
  color: #fff;
  margin-top: 30px;
}
